/* Typogragphie */

@font-face {
    font-family: "Tech";
    src: url("../fonts/ShareTechMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Anton";
  src: url("../fonts/Anton-Regular.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}

body {
    margin: 0; 
    font-family: "Tech";  /* met la police Tech */
    font-weight: bold;  /* Texte en gras */
}

/* Style des Navigations */
.navbar {      
  padding: 25px 0;    
  text-align: center;  /* met le texte au centre */
}

/* Style de chaque nav */
.nav a {
  display: inline-block; 
  font-family: 'Share Tech Mono', monospace;
  color: #000; 
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px 18px;
  margin: 0 8px;
  transition: all 0.3s ease;  
  box-shadow: none;  
}

/* Style de chaque nav hover*/
.nav a:hover {
  background-color: #000; 
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Media queries pour tablette et mobiles */
@media (max-width: 768px) {

   .nav {
    grid-template-columns: 1fr;
    gap: 10px 0;
  }

  .nav a {
    margin: 5px 0;
  }

  /* À PROPOS */
  .a-propos h2 {
    text-align: center;
  }

  /* COMPÉTENCES */
  .skills h2 {
    text-align: center;
  }

  /* PROJETS */
  .projets h2 {
    text-align: center;
  }

  /* PROJETS */
  .image-container {
    justify-content: center;
  }
  
}

.nom{
  font-family: "ANTON";
  font-size: 200px;
}

/* Nom Ecran plus petit */
@media (max-width: 900px) {
  .nom {
    font-size: clamp(4rem, 15vw, 10rem);
  }
}

.portfolio{
  font-size: 50px;
}

/*Portfolio petit écrans */
@media (max-width: 900px) {
  .portfolio {
    font-size: clamp(2rem, 8vw, 4rem);
  }
}

/* Sections */
section {
  margin: -100px auto; 
  padding: 40px 20px; 
  border-radius: 16px;
}

/* Titres sections */
section h2 {
  font-size: 2.2rem;
  font-weight: bold;
  color: #d400ff;
  margin-bottom: 20px; 
  text-align: left;
}

/* A propos de moi */
.a-propos {
  padding: 40px 20px;
  text-align: left;
  border-radius: 16px;
  max-width: 1000px;
  margin: 100px auto;
}

.a-propos h2 {
  font-family: "Anton";
  display: grid;
  font-size: 2.2rem;
  font-weight: bold;
  color: #000000;   
  margin-bottom: 40px; 
}

/* Paragraphes A propos */
.a-propos p {
  font-size: 1.1rem;
  color: #333;
  line-height: 1.8;
  text-align: left;
  font-weight: bolder;
}

/* surligneur */
.highlight {
  color: #67009e;
  background-color: #f0e5ff;
  padding: 0 4px;
  border-radius: 4px;
  font-weight: bold;
}

/* Contact a-propos */
.contact {
  margin-top: 50px;
}

.contact p {
  font-weight: bolder;
}

.a-propos-content {
  display: flex;
  align-items: center;
  gap: 40px; 
  margin-top: 20px;
}

.texte {
  flex: 1; 
}

 /* Image de moi */
.image-container {
  flex: 0 0 auto; 
  max-width: none; 
}

.image-container img {
  max-height: 480px; 
  width: 350px;       
  border-radius: 16px;
  object-fit: cover; 
  display: block;
  margin: 0 auto;
}

/* A propos Content petit écran*/
@media (max-width: 900px) {
  .a-propos-content {
    flex-direction: column; 
    text-align: center;     
  }

  .a-propos .texte {
    order: 1; 
  }

  .a-propos .image-container {
    order: 2; 
    max-width: 300px; 
    width: 100%;
  }

  .a-propos .image-container img {
    width: 100%;
    height: auto;
    border-radius: 12px;
  }

  .a-propos p {
    text-align: center;
  }
}

/* Skills */
.skills h2 {
  font-family: "Anton";
  display: grid;
  max-width: 1000px;
  margin: 100px auto; 
  padding: 40px 20px;
  font-size: 2.2rem;
  margin-bottom: 10px; 
  font-weight: bold;
  color: #000000;
}

/* Skills tags */
.skills-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto 80px; 
  padding: 0 20px;
}

/* Skill de chaque tag */
.skill-tag {
  background-color: #d8b4f8; 
  color: #4a007d; 
  padding: 0.6rem 1.2rem;
  font-size: 0.95rem;
  font-weight: bolder;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: default;
}

.skill-tag:hover {
  background-color: #c084fc; 
  transform: scale(1.05);
}

/*Mes projets */
.projets h2 {
  font-family: "Anton";
  font-weight: bolder;
  display: grid;
  max-width: 1000px;
  margin: 100px auto; 
  padding: 40px 20px;
  font-size: 2.2rem;
  margin-bottom: 10px; 
  color: #000000;
}

/* Grille projets */
.grille-projets {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 20px; /* espace sous le titre */
}

/* Tablette : 2 colonnes */
@media (max-width: 1024px) {
  .grille-projets {
    grid-template-columns: repeat(2, 1fr);
  }

  .carte-projet {
    width: 100%;
    max-width: 300px;
  }
}

/* Mobile : 1 colonne */
@media (max-width: 600px) {
  .grille-projets {
    grid-template-columns: 1fr;
  }

  .carte-projet {
    width: 90%;
    height: auto;
  }
}

/* Les 4 cartes */
.carte-projet {
  box-shadow: 3px 3px 0 black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 215px;        
  height: 445px;       
  padding: 1.5rem;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
}

/* Les h3 de chaque carte */
.carte-projet h3 {
  position: absolute;
  font-weight: bolder;
  font-size: 1.2rem;
  color: #ffffff;      
}

.carte-projet:hover {
  transform: translateY(-6px);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2); 
}

/* Les images des cartes projets */
.carte-projet img {
  border: 2px solid black;
  width: 217px;        
  height: 445px;
  object-fit: cover;
}

/* Modal */
.modal {
  display: none; 
  position: fixed;
  z-index: 10;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7); 
}

/* Informations des Modal */
.modal-content {
  background-color: #f6efff;
  margin: auto;
  padding: 30px;
  border: 3px solid #67009e;
  width: 90%;
  max-width: 800px;
  max-height: 80vh; /* limite la hauteur à 80% de la fenêtre */
  overflow-y: auto;  /* permet de scroller si le contenu dépasse */
  border-radius: 0;
  box-shadow: 6px 6px 0 #c9a3f7;
  color: #3b0069;
  text-align: left;
}

.modal-content h3 {
  font-family: "Anton";
  color: #67009e;
  margin-top: 0;
}

.modal-content p {
  margin: 8px 0;
  font-size: 1rem;
}

/* video animation 3d */
.video-container {
  width: 100%;
  max-width: 100%;
  margin: 15px 0;
}

.video-container video {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 4px 4px 12px rgba(103, 0, 158, 0.2);
}

.video-container iframe {
  width: 100%;
  max-width: 900px;
  aspect-ratio: 16/9;       
  border-radius: 8px;
  box-shadow: 4px 4px 12px rgba(103, 0, 158, 0.2);
}

.video-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #67009e;
  text-align: center;
  margin-bottom: 10px;
}

/* Pixel Art link avec image */
.pixelart-container {
  text-align: center;
  margin-top: 20px;
}

.pixelart-image {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  border: 3px solid #67009e;
  box-shadow: 4px 4px 0 #e0c3ff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.pixelart-image:hover {
  transform: scale(1.03);
  box-shadow: 6px 6px 12px rgba(103, 0, 158, 0.3);
}

.pixelart-texte {
  color: #3b0069;
  margin-top: 10px;
  font-size: 1rem;
}

/* Contact h2 */
#contact h2{
  font-family: "Anton";
  display: grid;
  margin: 150px 0 0;
  padding: 40px 20px;
  font-size: 2.2rem;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

/* Contact tags */
.contact-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto 40px;
  padding: 0 20px;
}

/* Contact de chaque tag */
.contact-tag {
  background-color: #d8b4f8; 
  color: #4a007d; 
  padding: 0.6rem 1.2rem;
  font-size: 0.95rem;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.contact-tag:hover {
  background-color: #c084fc; 
  transform: scale(1.05);
}

/* Bouton Home  pour retourner a acceuil */
.btn-accueil { 
  display: block;
  margin: 100px auto 80px; 
  padding: 0.6rem 1.2rem;
  background-color: #d8b4f8; 
  color: #4a007d;
  font-size: 0.95rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  width: fit-content;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Hover Home */
.btn-accueil:hover {
  background-color: #c084fc;
  transform: scale(1.1);
}

/* Modifier les style quand cest dans Dark Mode */
.dark-mode {
  background-color: #2a2233; 
  color: #ffffff;  
  transition: background-color 0.4s ease, color 0.4s ease;
}

/* Liens de navigation */
.dark-mode .nav a {
  color: #ffffff;  
  transition: all 0.3s ease;
}

.dark-mode .nav a:hover {
  background-color: #ffffff; 
  color: #000000;
}

/* Dark Mode de tous les h2 */
.dark-mode .a-propos h2,
.dark-mode .skills h2,
.dark-mode .projets h2,
.dark-mode #contact h2{
  color: #ffffff;
}

/* dark mode Prénom et Nom */
.dark-mode .nom {
  color: #ffffff; 
}

/* dark mode À propos en blanc */
.dark-mode .a-propos p {
    color: #ffffff; 
}

/* Compétences Dark Mode */
.dark-mode .skill-card {                    
  border: 2px solid #f0e5ff;          
}

/* dark mode Compétences et contact */
.dark-mode .skill-card,
.dark-mode .contact-card {
  background-color: #ffffff;
  color: #ffffff; 
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

/* dark mode Cartes projets */
.dark-mode .carte-projet {
  color: #f0e5ff; 
  box-shadow: 4px 4px 0 rgba(163, 120, 211, 0.5); 
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
}

.dark-mode .carte-projet:hover {
  transform: translateY(-6px);
  box-shadow: 6px 6px 16px rgba(255, 255, 255, 0.3);
}

.dark-mode .carte-projet h3 {
  color: #ffffff;
}

/* dark mode pr modale */
.dark-mode .modal-content {
  background-color: #1e1a26; 
  color: #f0e5ff; 
  border: 2px solid #a278d3; 
  box-shadow: 6px 6px 20px rgba(163, 120, 211, 0.2); 
}

.dark-mode .modal-content h3 {
  color: #e3c9ff; 
}

.dark-mode .close {
  color: #a278d3;
}

.dark-mode .close:hover {
  color: #f0e5ff;
}

/* dark mode pr modale img  */
.dark-mode .video-container video,
.dark-mode .pixelart-image {
  box-shadow: 4px 4px 12px rgba(163, 120, 211, 0.15); 
  border: 2px solid #a278d3;
}

/* dark mode Contact cards*/
.dark-mode .contact-card {
  background-color: #1e1e1e;
  color: #f0e5ff; 
  border: 2px solid #f0e5ff; 
}

.dark-mode .contact-card:hover {
  transform: translateY(-4px);
  border-color: #d400ff;
}

/* dark mode Footer en blanc */
.dark-mode footer {
  color: #f0e5ff; 
}

/* Footer */
footer {
  text-align: center;
  color: black;
}
